//bootstrap overwrite

.page-header {
  padding-bottom: 0px;
  margin: 0px 0 0px;
}

/* Search */
.search_box {
  padding-left: 250px;
  height: 350px;
  //display: table-cell;
  padding-top: 30px;
  home_image {
    padding-bottom: 20px;
    padding-left: 50px;
  }
}

.regular_search {
  padding-left: 150px;
}

.advanced_search {
  margin-top: 20px;
  padding-left: 250px;
  padding-right: 100px;
}

.search_form {

  #what, #where {
    margin-bottom: 4px;
  }

  .help-inline {
    font-size: 11px;
  }

}

.side_nav {
  border-right: solid 1px #6273a3;
  padding-right: 20px;
  padding-top: 130px;
  padding-bottom: 160px;
}

.side_nav label:hover, input:hover+label, input:active+label {
  background: #dff3ff;

}

/* Results */
.results_footer {
  margin: 5px;
  padding: 5px;
}

.result:hover{
  box-shadow: 2px 2px 3px #99A6C6;
  background-color: #EAFAFF;
  a{color: #005587;}
  .saved{
    color: #855B07;
  }
}

.result {
  //box-shadow: 2px 2px 3px #99A6C6;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #E7E7E7;

  .result_heading {
    font-size: 18px;
    margin-bottom: 5px;

    a {
      line-height: 26px;
      text-decoration: underline;
    }
  }



  .result_details {
    margin-bottom: 5px;
  }

  .property_links {

    .source {
      color: #6B96AD;
      font-size: 13.5px;
    }

  }

  .save_property {
    background: #ececef;
    width: 500px;
    height: 100px;
    display: none;
  }
  .saved:hover{
    color: #452F02;
  }
  .saved {
    color: #855B07;
  }
  .prop_image {
    height: 65px;
    margin-bottom: -20px;
    margin-top: -10px;
    margin-left: 235px;
    width: 110px;
    border: 3px solid #D0DAE1;
  }
}

.reg_search {
  .image {
    float: left;
    padding-right: 50px;
    padding-left: 30px;
  }
  margin-left: 64px;
  margin-top: 20px;
}

.sort_links {
  margin: 15px 0;

  a {
    margin: 0 5px;
    color: #848080;
  }
  .current {
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .asc {
    background-image: url('up_arrow.png');
    background-position: 66px 4px;
    background-repeat: no-repeat;
    background-size: 22px 19px;
  }
  .desc {
    background-image: url('down_arrow.png');
    background-position: 66px 4px;
    background-repeat: no-repeat;
    background-size: 22px 19px;
  }

}

.filter_nav {

  border-right: #F2EEEE solid 1px;
  line-height: 10px;
  p {
    font-size: 12px;
    display: compact;
    a {
      color: #515169;
    }
    .nav_clear {
      float: right;
      padding-right: 20px;
      color: #868686;
    }
    .sel_nav {
      font-size: 13px;
      background-color: #e1e1e1;
      color: #4f4f4f;
    }
  }

  .price_range  {
    border: 2px dotted #D6CACA;
    line-height: 16px;
    margin-right: 9px;
  }
  .area_range {
    border: 2px dotted #D6CACA;
    margin-right: 10px;
  }
  .bed_more, .p_type_more, .bed_less, .p_type_less  {
    color: #B97920;
    cursor: pointer;
    font-size: 12px;
  }
}

.query_popup {
  border-left: 1px solid #EBEBEB;
  //box-shadow: 0 0 2px #A6A9AA;
  margin-bottom: 8px;
  margin-right: 3px;
  padding-top: 6px;
}
.recent {
  //background-color: #EDF9FF;
  font-size: 13px;
  margin-bottom: 5px;
  width: 180px;
  word-wrap: break-word;
  a{
    color:#0088CC;
  }
}
.search_query {
  //border: 1px solid #D0CFCF;
  font-size: 12px;
  margin-bottom: 10px;
  position: inherit;
  width: 160px;
  word-wrap: break-word;
}

/* End Results */

#email_form {
  display: none;
  margin: 5px;
  padding: 10px;
}

.adv_search {
  display: none;
  padding-left: 25px;
  padding-top: 15px;
}

