// Place all the styles related to the PropertyMap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info_window {
  //border: dotted 1px #a9a9a9;
}

.marker {
  background-color: #b97920;
  color: #dcecff;
  font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  border-radius: 5px 1px 5px 1px;
}

.marker_hover {
  background-color: #2193b0;
  color: #dcecff;
  height: "17px";
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  width: "48px";
  border-radius: 5px 1px 5px 1px;
}

.yellow {
  background: none repeat scroll 0 0 #DDFCFF;
  border: 1px solid #899D9F;
  line-height: 12px;
  margin-top: 8px;
  padding: 7px 0 4px 7px;
}